
  .navbar-nav > li > a.scrape-new {
    padding: 10px;
    margin-top: 10px;
    font-weight: 800;
    color: white;
  }
  
  .navbar-nav > li > a.scrape-new:hover {
    background: #4caf50;
  }
  
  .navbar-nav > li > a.scrape-new:active {
    background: #e51c23;
  }
  
  .scrape-new {
    cursor: pointer;
  }
  
  .m-top-80 {
    margin-top: 80px;
  }
  
  textarea {
    padding: 10px;
    resize: none;
  }
  
  .bootbox-body .btn {
    float: right;
    margin: 5px;
  }
  
  .note.list-group-item {
    padding: 30px;
  }
  
  .note.list-group-item .btn {
    position: relative;
    bottom: 10px;
  }