  .panel {
    border-radius: 0;
    box-shadow: 3px 3px 20px lightslategrey;
  }
  
  .panel.panel-default .panel-heading {
    background-color: #2196f3;
    position: relative;
  }
  
  .panel.panel-default .panel-heading h3 {
    color: white;
  }
  
  .panel.panel-default .panel-heading .btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .panel.panel-default .panel-heading .btn.delete {
    right: 160px;
  }
  
  .panel.panel-default .panel-body {
    font-size: 16px;
  }
  
  .panel.panel-default .panel-heading .article-link {
    color: white;
    display: inline-block;
    width: 80%;
  }

    .bootbox-body .btn {
    float: right;
    margin: 5px;
  }
  
  .note.list-group-item {
    padding: 30px;
  }
  
  .note.list-group-item .btn {
    position: relative;
    bottom: 10px;
  }
  